#include <dt-bindings/zmk/pointing.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/outputs.h>
#include <input/processors.dtsi>


#define ERGOL   0
#define NAV     1
#define SYM     2
#define SPEC1   3
#define SPEC2   4

/ {
    macros {
        sp: sp {
            compatible = "zmk,behavior-macro-two-param";
            #binding-cells = <2>;
            bindings
                = <&macro_press &kp LALT>
                , <&macro_param_1to1>
                , <&macro_tap &kp MACRO_PLACEHOLDER>
                , <&macro_release &kp LALT>
                , <&macro_tap &kp LALT>
                , <&macro_param_2to1>
                , <&macro_tap &kp MACRO_PLACEHOLDER>
                ;
        };
    };
};

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <220>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
        hs: homerow_shift {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <220>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
    &kp Q        &kp C        &kp O       &kp P         &kp W                                       &kp J       &kp M      &kp D      &sl SPEC1  &kp Y
    &hs LSHFT A  &hm LGUI S   &hm LALT E  &hm LCTL N    &kp F                                       &kp L       &hm RCTL R &hm RALT T &hm RGUI I &hs RSHFT U
    &kp Z        &kp X        &kp MINUS   &kp V         &kp B                                       &kp DOT     &kp H      &kp G      &kp COMMA  &kp K
                                          &kp LGUI      &hs RSHFT BSPC &lt NAV SPACE &lt NAV SPACE  &lt SYM RET &kp RGUI
            >;
        };

        nav_layer {
            bindings = <
    &kp TAB      &kp HOME     &kp UP      &kp END       &kp PG_UP                                   &kp PLUS      &kp N7       &kp N8        &kp N9      &kp INS
    &kp CAPS     &kp LEFT     &kp DOWN    &kp RIGHT     &kp PG_DN                                   &kp EQUAL     &kp N4       &kp N5        &kp N6      &kp N0
    &trans       &kp C_VOL_DN &kp C_MUTE  &kp C_VOL_UP  &kp TAB                                     &kp MINUS     &kp N1       &kp N2        &kp N3      &kp DEL
                                          &trans        &trans          &trans        &trans        &kp ESC       &trans
            >;
        };

        sym_layer {
            bindings = <
    &kp CARET    &kp LT       &kp GT      &kp DLLR      &kp PRCNT                                   &kp AT        &kp AMPS     &kp ASTRK     &kp SQT     &kp GRAVE
    &kp LBRC     &kp LPAR     &kp RPAR    &kp RBRC      &kp EQUAL                                   &kp BSLH      &kp PLUS     &kp MINUS     &kp FSLH    &kp DQT
    &kp TILDE    &kp LBKT     &kp RBKT    &kp UNDER     &kp HASH                                    &kp PIPE      &kp EXCL     &kp SEMI      &kp COLON   &kp QMARK
                                          &trans        &trans          &trans        &trans        &trans        &trans
            >;
        };

        spec1_layer {
            bindings = <
    &sp N6 A     &sp C C      &trans      &sp N6 O     &trans                                       &trans        &kp F7       &kp UNDER     &sl SPEC2   &sp N6 U
    &sp GRAVE A  &sp E E      &sp GRAVE E &sp N6 E     &sp TILDE N                                  &kp LPAR      &kp RPAR     &sp N6 I      &sp U I     &sp GRAVE U
    &kp A        &sp E S      &trans      &trans       &trans                                       &trans        &trans       &trans        &trans      &trans
                                          &trans       &trans           &trans        &trans        &trans        &trans
            >;
        };

        spec2_layer {
            bindings = <
    &trans       &trans       &sp U O     &trans      &sp U W                                       &trans        &trans       &trans        &trans      &sp U Y
    &sp U A      &trans       &sp U E     &trans      &trans                                        &trans        &trans       &sp U T       &sp U I     &sp U U
    &trans       &sp U X      &trans      &trans      &trans                                        &trans        &sp U H      &trans        &trans      &trans
                                          &trans      &trans            &trans        &trans        &trans        &trans
            >;
        };
    };
};
